


<div  class="main justify-content-center">
    <div class="row">
       <div class="text-center position-absolute top-0 start-50 translate-middle" style="padding:20px;">
			<button onclick="generatePDF1()">Generate PDF</button>
		</div><br>
<div class="d-flex justify-content-center mt-5 mb-5">
    
    
                <canvas id="myChart" style="width:600px;max-width:600px"></canvas>

           
</div>
    </div>

    <div class="row">

       <div class="text-center" style="padding:20px;">
			<button onclick="generatePDF2()">Generate PDF</button>
		</div> 
       <div class="d-flex justify-content-center mt-5">
                <canvas id="myChart1" style="width:500px;max-width:600px"></canvas>
           
       </div>
    </div>
 

     
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<script>
(function() {
  
    console.log("hihihhhih");
   
  $.ajax({
      
      url:'/admin/dashboardGraph',
      data: {
        test:"hihh"
        },
      method: 'post',
      success: (res) => {
        console.log(res);
          var xValues = ["January", "Febrauary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var yValues = res.monthlyTotal;
        var barColors = ["red", "green", "blue", "orange", "brown", "yellow", "green", "green", "green", "green", "green", "green"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Monthly sales in the year 2022"
                }
            }
        });

        var xValues = ["COD","Online Payment"];
        var yValues = res.paymentTotal;
        var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
        ];

        new Chart("myChart1", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Total amount of COD's and Online Payments"
                }
            }
        });
      },
  });
})();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
		<script>
			function generatePDF1() {
			const element = document.getElementById('myChart');
			var opt = {
				  margin:       1,
				  filename:     'dashboard.pdf',
				  image:        { type: 'jpeg', quality: 0.98 },
				  html2canvas:  { scale: 2 },
				  jsPDF:        { unit: 'in', format: [6,10], orientation: 'landscape' }
				};
                
				// Choose the element that our invoice is rendered in.
				html2pdf().set(opt).from(element).save();
                
			}
		</script>

        <script>
			function generatePDF2() {
			const element = document.getElementById('myChart1');
			var opt = {
				  margin:       1,
				  filename:     'dashboard.pdf',
				  image:        { type: 'jpeg', quality: 0.98 },
				  html2canvas:  { scale: 2 },
				  jsPDF:        { unit: 'in', format: [8,10], orientation: 'landscape' }
				};
				// Choose the element that our invoice is rendered in.
				html2pdf().set(opt).from(element).save();
			}
		</script>

