<div class="container my-3 border p-4">
  <h2 class="mb-4">Add New Address </h2>

  
            
                
                
  <div class="card-body">
    {{! address form }}
    <form action="/postaddAddress/{{user._id}}" method="POST">
    <div class="form-group col-md-4">
          
          <input type="text" name="userId" class="form-control " id="inputId" value="{{user._id}}" hidden>
        </div>
      <div class="form-row ml-3">
        
        <div class="form-group">
          <label for="inputAddress2">First Name</label>
          <input
            type="text"
            name="firstName"
            class="form-control"
            id="inputAddress2"
            placeholder="Enter Your First name"
          />
        </div>
        <div class="form-group ml-5">
          <label for="inputAddress2">Last Name</label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            id="inputAddress2"
            placeholder="Enter Your Last name"
          />
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="inputEmail4"
          placeholder="Email"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Phone number</label>
        <input
          type="number"
          name="phone"
          class="form-control"
          id="inputEmail4"
          placeholder="phone number"
        />
      </div>
      <div class="form-group ml-3">
        <label for="inputAddress2">Address</label>
        <input
          type="text"
          name="address"
          class="form-control"
          id="inputAddress2"
          placeholder="Apartment, studio, or floor"
        />
      </div>
      <div class="form-row ml-2">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" name="city" class="form-control" id="inputCity" />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          {{! <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option value="Kerala">kerala</option>
                      </select> }}
          <input
            type="text"
            name="state"
            class="form-control"
            id="inputState"
          />
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input
            type="text"
            name="pincode"
            class="form-control"
            id="inputZip"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputCity">Landmark</label>
          <input
            type="text"
            name="landmark"
            class="form-control"
            id="inputCity"
          />
        </div>
      </div>
      {{! <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div> }}
      <button type="submit" class="btn btn-success float-right">Submit Address</button>
    </form>
  </div>
  
            


        
    
</div>